#messages-page {
  display: hidden;
}

@media screen and (max-width: 800px) {
  #messages-page {
    margin-top: 55px;
    margin-bottom: 30px;
    display: block;

    .messages-page {
      button {
        outline: none;
        border: 0px solid transparent;
        background-color: transparent;
        margin-bottom: 30px;
        border-radius: 19px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        width: fit-content;
        cursor: pointer;

        &:hover {
          color: #0006B1;
        }

        span {
          display: flex;
          gap: 8px;
          align-items: center;

        }
      }

      .message-content {
        gap: 16px;
        margin-top: 16px;

        .content {
          h1 {
            color: #242727;
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #collaborate-page {}
}
