#navid {
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;
        height: fit-content;
        display: flex;
        // justify-content: space-between;
        gap: 250px;
        align-items: center;
        padding: 6px 70px;
        background-color: #ffff;
        margin-top: 0;

        .logo {
            margin-top: 80px;
        }

        .nav_sections {
            display: flex;
            align-items: center;
            gap: 50px;

            .nav {
                display: flex;
                align-items: center;
                gap: 220px;
                justify-content: space-between;

                .collaborate,
                .profile,
                .notification {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    span, 
                    .icon {
                        color: grey;
                    }
                }
            }

            .nav_selected {
                display: flex;
                flex-direction: column;
                align-items: center;
                transition-duration: 400ms;

                span,
                .icon {
                    color: #3338C1;
                }
             }
        }

        
    }
}




@media screen and (max-width: 1450px) {
    #navid {


        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0px;
            
            .nav_sections {
                gap: 0px;
    
                .nav {
                    display: none;
                }
            }
        }

    }
}