// @mixin mobile {
//     @media screen and (max-width:480px) {
//         @content;
//     }
// }
// @mixin tablet {
//     @media screen and (max-width:768px) {
//         @content;
//     }
// }
// @mixin laptop {
//     @media screen and (max-width:1200px) {
//         @content;
//     }
// } 

.homepage {
    height: 1000dvh;
    margin-top: 20px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem/* 32px */;
    padding-left: 2rem/* 32px */;
    

    .container {
        border: 1px solid white; 
        border-radius: 10px;
        display: flex; 

        .leftside {            
            position: fixed;
            display: flex;
            top: 15px;;
            // left: 40px;
            width: 260px;
            height: 264px;
            flex-shrink: 0;
            border-radius: 6px;
            background: black;
            margin-top: 100px;
            margin-left: 40px;
            z-index: 999;


            .leftin {
                // flex: 1;
                display: flex;
                position: relative;
                align-items: flex-start;
                flex-direction: column;
                // gap: 16px;
                
                .profile {
                    width: 24px;
                    height: 10px;
                    flex-shrink: 0;
                    margin: 15px;
                }
    
                .notifications {
                    width: 24px;
                    height: 10px;
                    flex-shrink: 0;
                    margin: 15px;
                }
    
                .saved {
                    width: 24px;
                    height: 10px;
                    flex-shrink: 0;
                    margin: 15px;
                }
    
                .events {
                    width: 24px;
                    height: 10px;
                    flex-shrink: 0;
                    margin: 15px;
                }
    
            }

        }
        
        .sidebar {
            position: fixed;
            top: 50px;
            right: 40px;
            display: flex;
            flex-direction: column;
            align-items: center; 
            // margin-left: 500px;
            z-index: 999;

            .cont .search {
                display: flex;
                width: 316px;
                padding: 16px 20px; 
                align-items: center;
                text-transform: capitalize;
                gap: 11px;
                border-radius: 9999px;
                background: #D9D9D9;
            }

            .searchform input {
                color: #999;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                outline: none;
                border: none;
                background-color: transparent;
            }

            .cont .glass {
                width: 17.09px;
                height: 17.1px;
                flex-shrink: 0;
                fill: #999;
            }

            .flex {
                width: 316px;
                padding: 25px;
                
                .ideas {
                    display: inline-flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    border-radius: 16px;
                    background: #D9D9D9;
                    margin-bottom: 20px;
                }
    
                .topics {
                    display: inline-flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    border-radius: 16px;
                    background: #D9D9D9;
                    margin-bottom: 20px;
                }
    
                .follow {
                    display: inline-flex;
                    padding: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 24px;
                    border-radius: 16px;
                    background: #D9D9D9;
                    margin-bottom: 20px;
                }
            }

           
        }

        .navid {

            .navbar {
                position: fixed;
                display: flex;
                align-items: center;
                gap: 69px;
                margin: 10px 305px;
                width: 500px;
                padding: 18px 0px;
                z-index: 999;
                background-color: #ffff;

                .home {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                }
    
                .community {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                }
        
                .collaborate {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                }
        
                .explore {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                }

                .articles {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 4px;
                }

            }
        }

        .articles_page {
            margin: 95px 400px 0px 300px;

            .h-container{
                display: flex;
                align-items: flex-start;
                // border-radius: 10px;
                .element1 {
                    font-size: small;
                    color: black;
                    padding: 5px;
                   
                }

                .element2 {
                    font-size: small;
                    color: black;
                    padding: 5px;
                }

                .element3 {
                    font-size: small;
                    color: black;
                    padding: 5px;
                }
            }

            .circleplus {
                display: flex;
                text-transform: capitalize;

                svg {
                    padding: 5px;
                }

                .share {
                    display: flex;
                    width: 520px;
                    height: 14px;
                    padding: 16px;
                    align-items: center;
                    gap: 24px;
                    border-bottom: 1px solid #939393;
                    text-transform: capitalize;

                    .share input {
                        color: #939393;
                        font-family: Inter;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        background-color: transparent;
                        outline: none;
                        border: none;
                    }
                }
            }

            .under {
                display: flex;
                justify-content: space-between;
                margin: 5px;

                .box1 {
                    display: inline-flex;
                    flex: 1;
                    height: 30px;
                    width: 50px;
                    margin-top: 10px;
                    margin-left: 50px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 4px;
                    border: 1px solid #939393;
                    margin-right: 200px;
                }

                .box2 {
                    display: flex;
                    flex: 1;
                    width: 50px;
                    height: 30px;
                    margin-top: 10px;
                    margin-left: 40px;
                    // padding: 10px;
                    justify-content: center;
                    align-items: center;
                    // gap: 10px;
                    border-radius: 24px;
                    background: #939393;
                }
            }
        }
    }
   
}

.card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 5px;

    .card2 {
        display: flex;
        align-items: center;
        gap: 3px;
        height: 90px;
        width: 250px;

        .tags {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
            height: 60px;

            h3 {
                color: #000;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0;
            }
            p {
                color: #939393;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 0;
                margin-bottom: 0;
            }

            svg {
                width: 2px;
                height: 2px;
                fill: #939393;
            }
        }
    }

    .next {
        h2 {
            color: #000;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            // margin: 0;
            margin-top: -25px;
        }
    }

    .bottom {
        display: flex;
        align-items: flex-end;
        gap: 150px;

        .first {
            display: flex;
            align-items: flex-start;
            gap: 5px;

            .like {
                display: flex;
            }

            .comment {
                display: flex;
            }
        }

        .second {
            display: flex;
            align-items: center;
            gap: 4px;

            .react_button {
                // display: flex;
                padding: 4px 10px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 24px;
                background: #939393;
            }
        }
     }
}


