#profile_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .profile-details {
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 16px;

            .write-ups {
                display: grid;
                gap: 16px;
                width: 426px;
                h2 {
                    margin: 0px;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 58.09px;
                }
                p {
                    margin: 0px;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 22px;
                }
            }
        }

        .sidebar {
            display: grid;
            place-items: end;
            gap: 16px;

            button {
                width: 138px;
                height: 45px;
                padding: 8px, 16px;
                border-radius: 6px;
                background-color: #E6E6F7;
                color: #00034A;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 29.05px;
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .loc-cal {
                display: flex;
                align-items: center;
                gap: 16px;

                .location, 
                .calendar {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }

    .ideas-collabs {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 10px;

        h3 {
            font-weight: 600;
            font-size: 1.5rem;
        }

        .card-title {
            display: grid;
            gap: 16px;

            .user-ideas {
                display: grid;
                gap: 16px;
            }
        }

        .coll-1 {
            display: grid;
            gap: 16px;

            .user-collabs {
                display: grid;
                gap: 16px;
            }
        }
    }
}