#profile_page {
    
    .profile-details {
        float: left;
        margin-top: 50px;
        margin-right: 370px;
        margin-left: -200px;
        width: 536px;
        height: 50px;

        img {
            display: flex;
            width: 70px;
            height: 70px;
        }
        .write-ups {
           margin-left: 80px;
           margin-top: -100px;
           padding: 0;
           gap: 0;
        //    height: 20px;
        //    width: 50px;
        }
    }


    .sidebar {
        margin-top: -50px;
        float: right;
        margin-right: -200px;

        button {
            width: 150px;
            display: flex;
            flex: 1;
            padding: 10px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: #bbbbbe;
            color: #3338C1;
            gap: 10px;
            margin-left: 100px;
        }

        .icons {
            display: flex;
            flex-direction: row; 
            width: 184px;
            height: 24px;
            gap: 16px;
            margin-left: 70px;
            margin-top: 40px;
        }

        .loc-cal {
            display: flex;
            flex-direction: row;
            width: 262px;
            height: 22px;
            top: 334px;
            left: 1037px;
            gap: 16px;


            .location {
                display: flex;
                flex-direction: row;

                svg {
                    margin-top: 18px;
                }
            }

            .calendar {
                display: flex;
                flex-direction: row;

                svg {
                    margin-top: 18px;
                }
            }
        }
    }

    .collab {
        margin-left: 500px;
        margin-top: -380px;
    }

    .h2-tag {
        // position: fixed;
        margin-top: -50px;
        margin-left: -190px;
    }

    .coll-1 {
        background-color: #d8d5dd;
        width: 402px;
        height: 400px;
        top: 522px;
        left: 875px;
        gap: 16px;
        margin-left: 500px;
        margin-top: -15px;

    }
}



//MEDIA QUERIES
@media screen and (max-width: 1450px) {
    .sidebar {
        right: 80px;
    }
}

@media screen and (max-width: 1350px) {
    .sidebar {
        display: flex;
        top: 100px;
        right: 70px;
    }
}

@media screen and (max-width: 1130px) {
    .sidebar {
        display: flex;
        top: 100px;
        right: 30px;
    }
}

@media screen and (max-width: 1075px) {
    .sidebar {
        display: none;
    }
}

