#notifications_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;

    .h-container{
        position: fixed;
        top: 120px;
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 17px;
        margin-bottom: 20px;

        .element {
            font-size: smaller;
            color: black;
            font-weight: 400;
        }

        .selected {
            font-weight: 700;
            font-size: small;
            color: black;
        }

        p {
            color: red;
            font-weight: 600;
        }
    }
}
