#particular-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 30px;

  .overlay {
    position: fixed;
    overflow: hidden;
    background-color: rgb(0 0 0 / 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;

    .back-button {
      outline: none;
      border: 0px solid transparent;
      background-color: transparent;
      // padding: 10px 20px;
      border-radius: 19px;
      font-size: 16px;
      line-height: 22px;
      font-weight: 600;
      width: fit-content;
      cursor: pointer;

      &:hover {
        color: #0006B1;
      }

      span {
        display: flex;
        gap: 8px;
        align-items: center;

      }
    }

    .header {
      display: flex;
      width: 648px;
      justify-content: space-between;
      align-items: center;

      .header-info {
        display: flex;
        align-items: center;
        gap: 8px;

        img {
          width: 40px;
          height: 40px;
          border: 1px solid transparent;
          object-fit: cover;
          border-radius: 100%;
        }

        p {
          display: grid;

          .fullName {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #060a0a;
          }

          .occupation {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #939393;
          }
        }
      }

      button {
        padding: 10px 40px;
        background-color: #0006B1;
        border-radius: 24px;
        line-height: 22px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        outline: none;
        border: 0px solid transparent;

        &:hover {
          background-color: #242727;
          transition-duration: 300ms;
          transition: all;
        }

        &:disabled {
          text-decoration: none;
          padding: 10px 60px;
          border-radius: 24px;
          border: 1px solid #00034A;
          background-color: #E6E6F7;
          color: #00034A;
          font-weight: 600;
          font-size: 16px;
          cursor: not-allowed;
          line-height: 22px;
        }
      }
    }

    .content {
      max-width: 650px;

      h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #242727;
        text-transform: capitalize;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 648px;
        color: #060a0a;
      }

      .tags {
        p {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #2a2a2a;
        }

        .languages {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
          align-items: center;

          .language {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #B0B2E7;
            border-radius: 24px;
            padding: 3px 16px;
          }
        }
      }

    }


    .loader {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }




  }
}

@media screen and (max-width: 800px) {
  #particular-page {
    align-items: start;

    .overlay {
      z-index: 90;
    }

    .container {
      width: 100%;

      .back-button {
        font-size: 16px;
      }

      .header {
        width: 100%;

        .header-info {
          p {
            .fullName {
              font-size: 16px;
            }

            .occupation {
              font-size: 12px;
            }
          }
        }

        button {
          font-size: 16px;

          &:disabled {
            padding: 8px 20px;
            border-radius: 22px;
            color: #00034A;
            font-size: 16px;
          }
        }
      }

      .content {
        width: 100%;

        h2 {
          font-size: 16px;
        }

        p {
          width: fit-content;
        }

        tags {
          p {
            font-size: 16px;
          }

          .languages {
            gap: 8px;

            .language {
              padding: 1px 14px;
            }
          }
        }
      }
    }
  }
}
