@media screen and (max-width: 800px) {
  .ideas {
    display: block;
    width: 100%;
    background-color: #F5F5F5;
    padding: 16px;

    .card {
      // display: block;
      gap: 8px;

      .user {
        .not-image {
          h5 {
            font-size: 16px;
          }

          p {
            font-size: 11px;
          }
        }
      }

      h4 {
        font-size: 16px;
      }

      .profile-way {
        width: 100%;
        font-size: 14px;
        color: #000000;
        text-align: start;
      }

      .collaborate-way {
        width: 100%;
        font-size: 14px;
        color: #000000;
        text-align: start;
      }
    }
  }
}
