#profile-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;

  .profile-setup {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: start;
      align-content: start;

      h1 {
        text-align: start;
        font-weight: 600;
        font-size: 24px;
      }

      img {
        width: 94px;
        height: 94px;
        border-radius: 100%;
      }
    }


    .setup {
      display: grid;


      form {
        display: flex;
        flex-direction: column;
        // justify-content: start;
        // align-items: start;
        gap: 16px;

        .username-email {
          display: flex;
          gap: 16px;
        }

        .input-field {
          display: grid;
          gap: 4px;
          width: 100%;

          .label {
            font-size: 16px;
            font-weight: 600;
            color: #808080;
          }

          input {
            padding: 14px 16px;
            border: 1px solid #C1C2C2;
            border-radius: 40px;
            font-weight: 400;
            font-size: 16px;
          }

          span {
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: red;
          }
        }

        .links {
          .link {
            display: grid;
            gap: 8px;

            .particular-link {
              display: flex;
              align-items: center;
              gap: 4px;

              .input {
                width: 100%;
              }
            }
          }
        }

        p {
          font-size: 16px;
          text-align: start;
          font-weight: 400;
          font-style: italic;

          span {
            font-weight: 600;
          }
        }

      }

      .progress {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: start;
        margin-top: 50px;

        button {
          cursor: pointer;
          padding: 10px 70px;
          border-radius: 24px;
          background-color: #0006B1;
          border: 0px solid transparent;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: 400;
          margin-top: 10px;

          &:hover {
            opacity: 0.8;
            transition-duration: 300ms;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #profile-setup {
    .profile-setup {
      .header {
        flex-direction: column;
        margin-bottom: 16px;

        h1 {
          font-size: 24px;
        }
      }

      .setup {
        form {
          .username-email {
            flex-direction: column;
          }

          .input-field {
            label {
              font-size: 12px;
            }

            input {
              padding: 12px 14px;
              border-radius: 38px;
              font-size: 12px;
            }
          }

          p {
            font-size: 12px;
          }
        }

        .progress {
          flex-wrap: wrap;

          button {
            padding: 5px 45px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {}
