#profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 90px;


  .profile-page {
    padding: 0px;

    .profile {
      padding: 10px;

      .div {
        max-width: 502px;
        gap: 0px;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin: 2px;
        }

        .occupation {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          margin: 2px;
          text-transform: capitalize;
        }
      }


      .profile-details {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 12px;

        img {
          width: 90px;
          height: 90px;
          border: 1px solid transparent;
          border-radius: 100%;
        }

        .write-ups {
          width: 100%;

          .flex {
            display: flex;
            justify-content: space-between;
            align-items: start;
            padding: 10px;

            .sidebar {
              display: grid;
              place-items: end;
              gap: 16px;

              .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;

                .logout {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #FCE6E6;
                  color: #E30000;
                  text-decoration: none;
                  border-radius: 100%;
                  width: 42px;
                  height: 42px;
                  padding: 4px 8px;
                  border: 1px solid transparent;
                  font-weight: 600;
                  font-size: 16px;
                  cursor: pointer;

                  span {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    .logout-button {
                      animation: spin 1s ease-in-out infinite;


                      @keyframes spin {
                        0% {
                          transform: rotate(0deg);
                        }

                        100% {
                          transform: rotate(360deg);
                        }
                      }
                    }
                  }

                  &:hover {
                    color: #fff;
                    background-color: #ff949e;
                    transition-duration: 300ms;
                  }

                }

                .edit-profile {
                  text-decoration: none;
                  padding: 10px 60px;
                  border-radius: 24px;
                  border: 1px solid #00034A;
                  background-color: #E6E6F7;
                  color: #00034A;
                  font-weight: 600;
                  font-size: 16px;
                }

              }


              .collabs {
                padding: 8px 16px;
                border-radius: 6px;
                background-color: #E6E6F7;
                color: #00034A;
                font-weight: 700;
                font-size: 24px;
                line-height: 29.05px;
                cursor: pointer;
              }

              .icons {
                display: flex;
                align-items: center;
                gap: 16px;

                .particular-icon {
                  cursor: pointer;
                  text-decoration: none;
                  color: black;
                }
              }

              .loc-cal {
                display: flex;
                align-items: center;
                gap: 16px;

                .location,
                .calendar {
                  display: flex;
                  align-items: center;
                  gap: 5px;

                  p {
                    margin: 0px;
                  }
                }
              }
            }
          }



          h2 {
            margin: 0px;
            font-weight: 600;
            font-size: 48px;
            line-height: 58.09px;
          }

          span {
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
          }
        }
      }


    }

    .mobile-unnecessary {
      display: none;
    }

    .ideas-collabs {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      gap: 10px;

      h3,
      .h3 {
        font-weight: 600;
        font-size: 24px;
        text-decoration: none;
      }

      .card-title {
        display: grid;
        gap: 16px;

        .idea-collab-nav {
          display: flex;
          align-items: center;
          gap: 14px;

          .h3 {
            font-size: 24px;
            margin-top: 20px;
            font-weight: 600;
            color: #8F9191;
            // text-decoration: none;
          }

          .coll-link {
            display: none;
          }

          .active {
            font-size: 24px;
            margin-top: 20px;
            font-weight: 600;
            color: #00034A;
            text-decoration: none;
          }
        }

        .user-ideas,
        .interests-section,
        .posts-section {
          display: grid;
          gap: 16px;

          .loading {
            width: 650px;
            text-align: center;
          }

          .information {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            color: #8F9191;
            width: 650px;
            text-align: center;
          }

          .posts {
            display: grid;
            gap: 16px;
          }
        }
      }

      .coll-1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 12px;

        h3 {
          color: #00034A;
          font-size: 24px;
        }

        .user-collabs {
          display: flex;
          flex-direction: column;
          gap: 16px;
          justify-content: start;
          align-items: start;
        }
      }
    }
  }

}

@media screen and (max-width: 800px) {
  #profile-page {
    display: block;

    .profile-page {

      .profile {
        padding: 0px;

        .div {
          display: none;
        }


        .profile-details {
          gap: 0px;

          img {
            width: 48px;
            height: 48px;
          }

          .write-ups {
            width: 100%;

            .flex {
              .sidebar {
                .buttons {
                  .logout {
                    display: none;
                  }

                  .edit-profile {
                    padding: 10px 20px;
                    border-radius: 22px;
                    font-size: 14px;
                  }
                }

                .icons {
                  display: none;
                }

                .loc-cal {
                  display: none;
                }
              }
            }

            h2 {
              font-size: 20px;
              line-height: 22px;
            }

            span {
              font-size: 13px;
              line-height: 15px;
            }
          }
        }


      }

      .mobile-unnecessary {
        display: grid;
        margin-top: 8px;
        gap: 8px;

        .mobile-profile-info {
          display: grid;
          gap: 8px;

          .occupation {
            padding: 0px;
            margin: 0px;
            color: #4B4B4B;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
          }

          p {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
          }
        }

        .mobile-loc-cal {
          display: flex;
          align-items: center;
          gap: 16px;

          .mobile-location,
          .mobile-calendar {
            display: flex;
            align-items: center;
            gap: 2.5px;

            p {
              margin: 0px;
              font-size: 12px;
            }
          }
        }
      }

      .ideas-collabs {
        display: block;
        gap: 10px;

        .card-title {

          .idea-collab-nav {
            .h3 {
              font-size: 16px;
            }

            .active {
              font-size: 16px;
            }

            .coll-link {
              display: block;
              font-size: 16px;
              margin-top: 20px;
              font-weight: 600;
              color: #8F9191;
              text-decoration: none;
            }
          }

          .user-ideas {
            .loading {
              width: 100%;
            }

            .information {
              font-size: 20px;
              width: 100%;
            }

            .users-ideas {
              .information {
                font-size: 20px;
                width: 100%;
              }

              .posts {
                display: grid;
                gap: 16px;
              }
            }

          }

          .posts-section {
            .post-section {
              .information {
                width: 100%;
                font-size: 20px;
              }

              .posts {
                display: grid;
                gap: 16px;
              }

            }
          }

          .interests-section {
            .interest-section {
              .posts {
                display: grid;
                gap: 16px;
              }

              .information {
                width: 100%;
                font-size: 20px;
              }
            }
          }
        }

        .coll-1 {
          display: none;
        }
      }
    }
  }
}
