#profile_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 90px;

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .profile-details {

            display: flex;
            justify-content: start;
            align-items: start;
            gap: 16px;


			img {
				width: 90px;
				height: 90px;
				border: 1px solid transparent;
				border-radius: 100%;
			}

            .write-ups {
                display: grid;
                // gap: 16px;
                width: 426px;

                div {
                    margin-top: 16px;

                    p {
                        margin: 0px;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 22px;
                    }

                    .occupation {
                        font-weight: 600;
                        font-size: 1rem;
                        line-height: 22px;
                    }
                }

                h2 {
                    margin: 0px;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 58.09px;
                }

                span {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }

        .sidebar {
            display: grid;
            place-items: end;
            gap: 16px;

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;

                span {
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: center;

                    .logout-button {
                        animation: spin 1s ease-in-out infinite;
    
                        
                        @keyframes spin {
                            0% {
                            transform: rotate(0deg);
                            }
                            100% {
                            transform: rotate(360deg);
                            }
                        }
                    }
                }

                .edit-profile {
                    text-decoration: none;
                    padding: 10px 60px;
                    border-radius: 24px;
                    border: 1px solid #00034A;
                    background-color: #E6E6F7;
                    color: #00034A;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 22px;
                }

                button {
                    text-decoration: none;
                    padding: 10px 40px;
                    border-radius: 24px;
                    border: 1px solid transparent;
                    background-color: #F44336;
                    color: #ffffff;
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 22px;
                    cursor: pointer;

                    &:hover {
                        color: #00034A;
                        background-color: #ff949e;
                        transition-duration: 300ms;
                    }
                }
            }


            .collabs {
                padding: 8px 16px;
                border-radius: 6px;
                background-color: #E6E6F7;
                color: #00034A;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 29.05px;
                cursor: pointer;
            }

            .icons {
                display: flex;
                align-items: center;
                gap: 16px;

                .particular-icon {
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                }
            }

            .loc-cal {
                display: flex;
                align-items: center;
                gap: 16px;

                .location, 
                .calendar {
                    display: flex;
                    align-items: center;
                    gap: 5px;

                    p {
                        margin: 0px;
                    }
                }
            }
        }
    }

    .ideas-collabs {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 10px;

        h3 {
            font-weight: 600;
            font-size: 1.5rem;
        }

        .card-title {
            display: grid;
            gap: 16px;

            .user-ideas {
                display: grid;
                gap: 16px;

                .loading {
                    width: 701px;
                    text-align: center;
                }

                .information {
                    font-size: 1.5rem;
                    line-height: 30px;
                    font-weight: 600;
                    color: #8F9191;
                    width: 600px;
                    text-align: center;
                }
            }
        }

        .coll-1 {
            display: grid;
            gap: 16px;

            .user-collabs {
                display: grid;
                gap: 16px;
            }
        }
    }
}
