#mobile-settings {
    // display: none;
    
    .settings {
        position: fixed;
        width: 100%;
        height: 56px;
        z-index: 20;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 16px;
        align-items: center;
        background-color: #ffff;
    }
}