.root {
  position: relative;
  // background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  width: fit-content;
  border-radius: var(--mantine-radius-md);
  // padding: 5px;
  // border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.control {
  padding: 8px 24px;
  line-height: 1;
  color: #8F9191;
  border-radius: 32px;
  font-size: 16px;
  transition: color 100ms ease;
  font-weight: 600;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
  }

  &[data-active] {
    color: #00034A;
    font-weight: 600;
    font-size: 16px;
  }
}

.controlLabel {
  position: relative;
  z-index: 1;
}

.indicator {
  background-color: #E6E6F7;
  border-radius: var(--mantine-radius-md);
}
